#borderPane {
    -fx-background-image: url(../Images/login_background.png);
}

#controlsArea {
    -fx-background-color: rgba(42, 157, 143, 0.5);
}

#username, #password {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0 ;
    -fx-border-color: transparent;
}

.func_button {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 40px;
    -fx-background-radius: 20px;
}

#controlsWrapper {
    -fx-background-color: #f9f7f3;
}

#toggleSwitch.thumb
{
    -fx-background-color: blue;
}


