.root {
    -fx-background-color: rgb(230, 230, 230);
}
#avatar {
    -fx-background-radius: 105;
}
#avatarBackground, #avatarBackground1 {
    -fx-background-color: rgb(230, 230, 230);
    -fx-background-radius: 110;
}